<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Responsive Registration Form</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
      <link rel="stylesheet" type="text/css" href="/static/css/form.css">
  </head>
  <body>
    <div class="container">
      <h1 class="form-title">Event Registration</h1>
      <form action="#">
        <div class="main-user-info">
          <div class="user-input-box">
            <label for="fullName">First Name</label>
            <input type="text"
                    id="fullName"
                    name="fullName"
                    placeholder="Enter Full Name"/>
          </div>
          <div class="user-input-box">
            <label for="username">Last Name</label>
            <input type="text"
                    id="username"
                    name="username"
                    placeholder="Enter Username"/>
          </div>
          <div class="user-input-box">
            <label for="email">Email</label>
            <input type="email"
                    id="email"
                    name="email"
                    placeholder="Enter Email"/>
          </div>
          <div class="user-input-box">
            <label for="phoneNumber">Phone Number</label>
            <input type="text"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="Enter Phone Number"/>
          </div>
          <div class="user-input-box">
            <label for="password">Date</label>
            <input type="date"
                    id="date"
                    name="date"
                    placeholder="date"/>
          </div>
          <div class="user-input-box">
            <label for="Previously Attended Events">Previously Attended Events</label>
            <input type="Previously Attended Eventsd"
                    id="PreviouslyAttendedEvents"
                    name="Previously Attended Events"
                    placeholder="Previously Attended Events"/>
          </div>
        </div>
        <div class="gender-details-box">
          <span class="gender-title">Gender</span>
          <div class="gender-category">
            <input type="radio" name="gender" id="male">
            <label for="male">Male</label>
            <input type="radio" name="gender" id="female">
            <label for="female">Female</label>
            <input type="radio" name="gender" id="other">
            <label for="other">Other</label>
          </div>
        </div>
        <div>
        <input type="submit" value="Register" class="submit-button" id="submit-button">
    </div>
      </form>
      <div id="message"></div>
    </div>
    <script type="text/javascript" src="/static/js/form.js"></script>
  </body>
</html>